<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="net.genady.rmi.rmiServer">
<stringAttribute key="net.genady.rmi.afterCommand" value=""/>
<stringAttribute key="net.genady.rmi.beforeCommand" value=""/>
<booleanAttribute key="net.genady.rmi.beforeWaitCompletion" value="false"/>
<booleanAttribute key="net.genady.rmi.launchInspectLater" value="false"/>
<mapAttribute key="net.genady.rmi.launchProp"/>
<listAttribute key="net.genady.rmi.launchProp.codebase">
<listEntry value="file:${workspace_loc:/Tutorial 4 (RMI)/bin}"/>
</listAttribute>
<intAttribute key="net.genady.rmi.launchRegistryAction" value="0"/>
<stringAttribute key="net.genady.rmi.launchRegistryPort" value=""/>
<booleanAttribute key="net.genady.rmi.logRMIEvents" value="false"/>
<booleanAttribute key="net.genady.rmi.logRMIEvents.noSerialization" value="false"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Tutorial 4 (RMI)/src/ServerRMI.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ServerRMI"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Tutorial 4 (RMI)"/>
</launchConfiguration>
